name: MLOps Pipeline

on: [push]

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH

    - name: Set up Python
      run: uv python install 3.13

    - name: Sync dependencies
      run: uv sync

    - name: Train model
      run: uv run python train.py

    - name: Run tests
      run: uv run pytest test_model.py
